<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * @author      Oleh Kravets <oleh@openstream.ch>
 * @copyright   Copyright (c) 2020 Openstream Internet Solutions  (https://www.openstream.ch)
 * @license     MIT License
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Openstream_SendInvoiceCopy" setup_version="0.1.0">
        <sequence>
            <module name="Magento_Sales"/>
        </sequence>
    </module>
</config>
